REBUSS.VSexy/.github/
REBUSS.VSexy/.vs/
REBUSS.VSexy/Anthropic/
REBUSS.VSexy/REBUSS.VSexy.ClassDiagram/bin/
REBUSS.VSexy/REBUSS.VSexy.ClassDiagram/obj/
REBUSS.VSexy/REBUSS.VSexy.ClassDiagram/.vs/
REBUSS.VSexy/REBUSS.VSexy.Model/.vs/
REBUSS.VSexy/REBUSS.VSexy.Model/obj/
REBUSS.VSexy/REBUSS.VSexy.Model/bin/
REBUSS.VSexy/REBUSS.VSexy.ClassDiagram/Web/
